<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Florczak_ImageUploader>
            <version>0.0.2</version>
        </Florczak_ImageUploader>
    </modules>
    <global>
        <blocks>
            <imageuploader>
                <class>Florczak_ImageUploader_Block</class>
            </imageuploader>
        </blocks>
        <helpers>
            <imageuploader>
                <class>Florczak_ImageUploader_Helper</class>
            </imageuploader>
        </helpers>
        <models>
            <imageuploader>
                <class>Florczak_ImageUploader_Model</class>
                <resourceModel>imageuploader_resource</resourceModel>
            </imageuploader>
            <imageuploader_resource>
                <class>Florczak_ImageUploader_Model_Resource</class>
                <entities>
                    <image>
                        <table>florczak_imageuploader_image</table>
                    </image>
                    <product_image>
                        <table>florczak_imageuploader_product_image</table>
                    </product_image>
                </entities>
            </imageuploader_resource>
        </models>
        <resources>
            <imageuploader_setup>
                <setup>
                    <module>Florczak_ImageUploader</module>
                </setup>
            </imageuploader_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <imageuploader>
                <use>admin</use>
                <args>
                    <module>Florczak_ImageUploader</module>
                    <frontName>imageuploader</frontName>
                </args>
            </imageuploader>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <catalog_product_load_after>
                <observers>
                    <additional_image_load>
                        <type>singleton</type>
                        <class>imageuploader/observer</class>
                        <method>additionalImageLoad</method>
                    </additional_image_load>
                </observers>
            </catalog_product_load_after>
            <controller_action_predispatch_adminhtml_catalog_product_save>
                <observers>
                    <save_additional_images>
                        <type>singleton</type>
                        <class>imageuploader/observer</class>
                        <method>saveAdditionalImages</method>
                    </save_additional_images>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_save>
        </events>
        <layout>
            <updates>
                <imageuploader>
                    <file>imageuploader.xml</file>
                </imageuploader>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <imageuploader>
                    <file>imageuploader.xml</file>
                </imageuploader>
            </updates>
        </layout>
    </frontend>
</config>
